/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.acf-setup-instructions {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  border-top: solid 1px;
}
.acf-setup-instruction__content {
  width: 50%;
}
.acf-setup-instruction__img {
  width: 50%;
}
.acf-setup-instruction__img img {
  width: 100%;
}

html :where(.wp-block) {
  max-width: 1250px;
}
